Youtube Analytics/de-youtube-data-workflow.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Clean_JSON_Lambda",
          "States": {
            "Clean_JSON_Lambda": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-2:104044935003:function:de-youtube-json-data-to-parquet:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Run_CSV_Glue_ETL",
          "States": {
            "Run_CSV_Glue_ETL": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "ETL_JOB_cleaned_CSV_to_Parquet"
              },
              "Next": "Crawl_Cleansed_Data"
            },
            "Crawl_Cleansed_Data": {
              "Type": "Task",
              "Parameters": {
                "Name": "de-youtube-data-clean-csv-parquet-crawler1"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "End": true
            }
          }
        }
      ],
      "Next": "Run_JOIN_Glue_ETL"
    },
    "Run_JOIN_Glue_ETL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ETL_JOB_Join_Json_CSV"
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONPath"
}